DATAPROTECTION_CERT_PASSWORD=definir-aca
APP_PUBLIC_BASE_URL=https://localhost:8443
APP_HTTP_PORT=8080
APP_HTTPS_PORT=8443
APP_RESET_DATABASE_ON_START=false
Smtp__Host=smtp.tu-proveedor.com
Smtp__Port=587
Smtp__EnableSsl=true
Smtp__FromEmail=tu-cuenta@dominio.com
Smtp__FromName=VCDA-Financial-Manager
Smtp__Username=tu-cuenta@dominio.com
Smtp__Password=tu-password-smtp
