DATAPROTECTION_CERT_PASSWORD=definir-aca
Smtp__Host=smtp.tu-proveedor.com
Smtp__Port=587
Smtp__EnableSsl=true
Smtp__FromEmail=tu-cuenta@dominio.com
Smtp__FromName=VCDA-Financial-Manager
Smtp__Username=tu-cuenta@dominio.com
Smtp__Password=tu-password-smtp
